:root {
  /*Font*/

  /*Text colors*/
  --body-txt-cl: #434455;
  --subtel-txt-cl: #8e8f99;
  --headlings-dark-cl: #2e2f42;

  /*Background colors*/
  --accent-bg-cl: #e7e9fc;
  --light-bg-cl: #f4f4fd;
  --hero-bg-cl: #2e2f42;
  --main-bg-cl: white;
  /*Others colors*/
  --primary-band-cl: #4d5ae5;
  --pressed-state-cl: #404bbf;
  --dark-overlays-cl: #2e2f42;
  --success-cl: #31d0aa;
  --success-75-cl: rgba(49, 208, 170, 0.75);
  --success-50-cl: rgba(49, 208, 170, 0.5);
  --success-10-cl: rgba(49, 208, 170, 0.1);
  --modal-overlay-cl: #2e2f42;

  --indent: 24px;
  --items: 3;
}
body {
  color: var(--body-txt-cl);
  background-color: var(--main-bg-cl);
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* reset */
h1,
h2,
h3,
h5,
h6,
p {
  margin: 0;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;

  /* outline: 2px solid red;
  outline-offset: -2px; */
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.logo-dark {
  display: block;
  color: var(--primary-band-cl);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  margin-right: 76px;
}
.logo-dark span {
  color: var(--dark-overlays-cl);
}
.main-button {
  color: var(--main-bg-cl);
  background-color: var(--primary-band-cl);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-style: none;
  padding: 16px 32px;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
}
.main-button:hover {
  color: var(--main-bg-cl);
  background-color: var(--pressed-state-cl);
}
.button-nav {
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.button-nav .button {
  color: var(--primary-band-cl);
  background-color: var(--light-bg-cl);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: 1px solid var(--accent-bg-cl);
  border-radius: 4px;
  padding: 12px 24px;
}
.button-nav .button:hover,
.button-nav .button:focus {
  color: var(--main-bg-cl);
  background-color: var(--pressed-state-cl);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--pressed-state-cl);
}

.nav-link:hover {
  color: var(--pressed-state-cl);
}
.nav-link {
  display: block;
  color: var(--body-txt-cl);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--pressed-state-cl);
}
.contact-link {
  display: block;
  color: var(--body-txt-cl);
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-style: normal;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
}
.link {
  text-decoration: none;
}
.main-title {
  color: var(--main-bg-cl);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  width: 504px;
  margin-right: auto;
  margin-left: auto;
}
.main {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--dark-overlays-cl);
  text-align: center;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/First-page/people-office\ 1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.title {
  color: var(--dark-overlays-cl);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.subtitle {
  color: var(--dark-overlays-cl);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.text {
  color: var(--dark-overlays-cl);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.section-team {
  background-color: var(--light-bg-cl);
}
.footer {
  background-color: var(--dark-overlays-cl);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer p {
  color: var(--accent-bg-cl);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.soc-med-wrapper {
  color: var(--main-bg-cl);
  font-weight: 500;
  letter-spacing: 0.02em;
}
.container-footer {
  display: flex;
}
.logo-wrapper {
  width: 264px;
  margin-right: 120px;
}
.logo-light {
  color: var(--primary-band-cl);
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 20px;
}
.logo-light span {
  color: var(--light-bg-cl);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-list {
  gap: 40px;
}
.header-nav {
  margin-right: auto;
}
.header {
  border-bottom: 1px solid var(--accent-bg-cl);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.contact-list {
  display: flex;
  gap: 40px;
  align-items: center;
}
.benefits-list {
  display: flex;
  gap: 24px;
}
.benefits {
  padding-bottom: 0;
}
.benefits-item {
  width: 264px;
}
.benefits-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  background-color: var(--light-bg-cl);
}
.item-icon {
}
.img-list {
  display: flex;
  gap: 24px;
  padding-left: 0px;
}
.team-list {
  display: flex;
  gap: 24px;
  padding-left: 0px;
}
.team-img {
  background-color: var(--main-bg-cl);
  padding-bottom: 32px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-img > img {
  margin-bottom: 32px;
}
.team-img > h3 {
  text-align: center;
  margin-top: 8px;
}
.team-img > p {
  text-align: center;
  margin-bottom: 8px;
}
.main-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-item {
  flex-basis: calc((100%- (var(--indent) * (var(--items)-1))) / var(--items));
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);

}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio {
  padding-top: 96px;
}
.cards-link {
  display: block;
}
.description {
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  border: 1px solid var(--accent-bg-cl);
  border-top: none;
}
.socials {
  justify-content: center;
  gap: 24px;
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--primary-band-cl);
  border-radius: 50px;
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--pressed-state-cl);
}

.socials-icon {
  fill: var(--main-bg-cl);
}
.customer {
  gap: 24px;
}
.customer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--main-bg-cl);
  border: 1px solid var(--subtel-txt-cl);
  border-radius: 4px;
  height: 88px;
  fill: var(--subtel-txt-cl);
}
.customer-link:hover,
.customer-link:focus {
  border: 1px solid var(--primary-band-cl);
  fill: var(--primary-band-cl);
}

.customer-item {
  width: 168px;
}
.soc-med-wrapper > h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.socials-footer {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.socials-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}

.socials-link-footer:hover,
.socials-link-footer:focus {
  background-color: var(--success-cl);
}

.socials-icon-footer {
  fill: var(--main-bg-cl);
}
