:root {
  /*Font*/

  /*Text colors*/
  --body-txt-cl: #434455;
  --subtel-txt-cl: #8e8f99;
  --headlings-dark-cl: #2e2f42;

  /*Background colors*/
  --accent-bg-cl: #e7e9fc;
  --light-bg-cl: #f4f4fd;
  --hero-bg-cl: #2e2f42;
  --main-bg-cl: white;
  /*Others colors*/
  --primary-band-cl: #4d5ae5;
  --pressed-state-cl: #404bbf;
  --dark-overlays-cl: #2e2f42;
  --success-cl: #31d0aa;
  --success-75-cl: rgba(49, 208, 170, 0.75);
  --success-50-cl: rgba(49, 208, 170, 0.5);
  --success-10-cl: rgba(49, 208, 170, 0.1);
  --modal-overlay-cl: #2e2f42;

  /*Others*/
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  --indent: 24px;
  --items: 3;
}

body {
  color: var(--body-txt-cl);
  background-color: var(--main-bg-cl);
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* reset */
h1,
h2,
h3,
h5,
h6,
p {
  margin: 0;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;

  /* outline: 2px solid red;
  outline-offset: -2px; */
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.logo-dark {
  display: block;
  color: var(--primary-band-cl);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  margin-right: 76px;
}
.logo-dark span {
  color: var(--dark-overlays-cl);
}
.button {
  cursor: pointer;
}
.main-button {
  color: var(--main-bg-cl);
  background-color: var(--primary-band-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-style: none;
  padding: 16px 32px;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  transition: box-shadow var(--transition-duration)
      var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function);
}
.main-button:hover,
.main-button:focus {
  background-color: var(--pressed-state-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button-nav {
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
  color: var(--pressed-state-cl);
}
.button-nav .button {
  color: var(--primary-band-cl);
  background-color: var(--light-bg-cl);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid var(--accent-bg-cl);
  border-radius: 4px;
  padding: 12px 24px;
  transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function),
    box-shadow var(--transition-duration),
    border var(--transition-duration) var(--transition-timing-function);
}
.button-nav .button:hover,
.button-nav .button:focus {
  color: var(--main-bg-cl);
  background-color: var(--pressed-state-cl);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--pressed-state-cl);
}

.nav-link:hover,
.nav-link:focus {
  outline: none;
  color: var(--pressed-state-cl);
}
.nav-link.current {
  color: var(--pressed-state-cl);
}
.nav-link.current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0px;
  border-radius: 2px;
  background-color: var(--pressed-state-cl);
}
.nav-link {
  display: block;
  position: relative;
  color: var(--body-txt-cl);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--pressed-state-cl);
}
.contact-link {
  display: block;
  color: var(--body-txt-cl);
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-style: normal;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.link {
  text-decoration: none;
}
.main-title {
  color: var(--main-bg-cl);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  width: 504px;
  margin-right: auto;
  margin-left: auto;
}
.main {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--dark-overlays-cl);
  text-align: center;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/First-page/people-office\ 1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.title {
  color: var(--dark-overlays-cl);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.subtitle {
  color: var(--dark-overlays-cl);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.text {
  color: var(--dark-overlays-cl);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.section-team {
  background-color: var(--light-bg-cl);
}
.footer {
  background-color: var(--dark-overlays-cl);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer p {
  color: var(--accent-bg-cl);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.container-footer {
  display: flex;
}
.logo-wrapper {
  width: 264px;
  margin-right: 120px;
}
.logo-light {
  color: var(--primary-band-cl);
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 20px;
}
.logo-light span {
  color: var(--light-bg-cl);
}
.subscribe-wrapper {
  margin-left: 80px;
}
.subscribe-wrapper > h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-bg-cl);
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.subscribe-email {
  background-color: var(--dark-overlays-cl);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 8px 16px;
  margin-right: 24px;
  width: 264px;
}
.send-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--primary-band-cl);
  color: var(--main-bg-cl);
  gap: 16px;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  transition: box-shadow var(--transition-duration)
      var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function);
}
.send-btn:hover,
.send-btn:focus {
  background-color: var(--pressed-state-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-list {
  gap: 40px;
}
.header-nav {
  margin-right: auto;
}
.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.contact-list {
  display: flex;
  gap: 40px;
  align-items: center;
}
.benefits-list {
  display: flex;
  gap: 24px;
}
.benefits {
  padding-bottom: 0;
}
.benefits-item {
  width: 264px;
}
.benefits-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  background-color: var(--light-bg-cl);
}
.item-icon {
}
.img-list {
  display: flex;
  gap: 24px;
  padding-left: 0px;
}
.team-list {
  display: flex;
  gap: 24px;
  padding-left: 0px;
}
.team-img {
  background-color: var(--main-bg-cl);
  padding-bottom: 32px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-img > img {
  margin-bottom: 32px;
}
.team-img > h3 {
  text-align: center;
  margin-top: 8px;
}
.team-img > p {
  text-align: center;
  margin-bottom: 8px;
}
.main-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-item {
  flex-basis: calc((100%- (var(--indent) * (var(--items)-1))) / var(--items));
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  box-shadow: var(--transition-duration) var(--transition-timing-function);
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-item .overlay-txt {
  width: 296px;
  letter-spacing: 0.02em;
  color: var(--light-bg-cl);
}
.box-overlay {
  display: block;
}
.portfolio .box-overlay {
  position: relative;
  max-height: 294px;
  overflow: hidden;
}
.cards-link .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 24px;
  background-color: var(--primary-band-cl);
  transform: translateY(101%);
  transition: var(--transition-duration) var(--transition-timing-function),
    transform var(--transition-duration) var(--transition-timing-function);
}
.cards-link:hover .overlay,
.cards-link:focus .overlay {
  transform: translateY(0);
}
.portfolio {
  padding-top: 96px;
}
.cards-link {
  display: block;
  box-shadow: var(--transition-duration) var(--transition-timing-function);
}
.description {
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  border: 1px solid var(--accent-bg-cl);
  border-top: none;
}
.socials {
  justify-content: center;
  gap: 24px;
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--primary-band-cl);
  border-radius: 50px;
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--pressed-state-cl);
}

.socials-icon {
  fill: var(--main-bg-cl);
}
.customer {
  gap: 24px;
}
.customer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-bg-cl);
  border: 1px solid var(--subtel-txt-cl);
  border-radius: 4px;
  height: 88px;
  fill: var(--subtel-txt-cl);
  transition: border var(--transition-duration), fill var(--transition-duration);
}
.customer-link:hover,
.customer-link:focus {
  border: 1px solid var(--primary-band-cl);
  fill: var(--primary-band-cl);
}

.customer-item {
  width: 168px;
}
.soc-med-wrapper > h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-bg-cl);
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.socials-footer {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.socials-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.socials-link-footer:hover,
.socials-link-footer:focus {
  background-color: var(--success-cl);
}

.socials-icon-footer {
  fill: var(--main-bg-cl);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition-duration)
      var(--transition-timing-function),
    visibility var(--transition-duration) var(--transition-timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 24px;
  transform: translateX(-50%) translateY(-50%);
  background-color: var(--main-bg-cl);
  width: 408px;
  height: 576px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: var(--transition-duration) var(--transition-timing-function);
}
.backdrop.is-hidden .modal {
  transform: translateX(-50%) translateY(-25%);
  transition-delay: 0;
}
.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--accent-bg-cl);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    fill var(--transition-duration) var(--transition-timing-function);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--pressed-state-cl);
  fill: var(--main-bg-cl);
}
.form-heading {
  display: block;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}
.order-form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
}
.form-field {
  position: relative;
  margin-bottom: 8px;
}
.input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 11px 16px 11px 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: transparent;
  border-radius: 4px;
  transition: border-color var(--transition-duration)
    var(--transition-timing-function);
}

.input:focus {
  border-color: var(--primary-band-cl);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  pointer-events: none;
  color: var(--dark-overlays-cl);
  fill: #2e2f42;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.input:focus + .modal-form-icon {
  fill: var(--primary-band-cl);
}
.order-form-comment {
  display: block;
  width: 100%;
  height: 120px;
  margin-bottom: 16px;
  padding: 8px 16px;
  font-size: 12px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: transparent;
  border-radius: 4px;
  transition: border-color var(--transition-duration)
    var(--transition-timing-function);
}
.order-form-comment:focus {
  border-color: var(--primary-band-cl);
}
.order-form-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 24px;
}
.order-form-desc {
  font-size: 12px;
  letter-spacing: 0.04em;
}
.order-form-link {
  color: var(--primary-band-cl);
  text-underline-position: under;
}
.order-form-checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44558 0.255056C8.61838 0.089653 8.84834 -0.00178848 9.08693 2.65108e-05C9.32551 0.0018415 9.55407 0.0967713 9.72436 0.264784C9.89466 0.432797 9.99337 0.660752 9.99968 0.900549C10.006 1.14034 9.91939 1.37323 9.75816 1.55005L4.86357 7.70436C4.7794 7.79551 4.67782 7.86865 4.5649 7.91942C4.45198 7.97018 4.33003 7.99754 4.20636 7.99984C4.08268 8.00214 3.95981 7.97935 3.8451 7.93282C3.73038 7.88629 3.62618 7.81698 3.53872 7.72903L0.292827 4.46564C0.202435 4.38096 0.129933 4.27884 0.0796475 4.16537C0.0293621 4.05191 0.00232279 3.92942 0.000143182 3.80522C-0.00203643 3.68102 0.0206883 3.55765 0.0669613 3.44248C0.113234 3.3273 0.182108 3.22267 0.269473 3.13483C0.356838 3.047 0.460905 2.97775 0.575465 2.93123C0.690026 2.88471 0.812734 2.86186 0.936267 2.86405C1.0598 2.86624 1.18163 2.89343 1.29449 2.94398C1.40734 2.99454 1.50892 3.06743 1.59315 3.15831L4.16189 5.73967L8.42227 0.28219C8.42994 0.272694 8.43813 0.263635 8.4468 0.255056H8.44558Z' fill='%23fff'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    border-color var(--transition-duration) var(--transition-timing-function);
}
.order-form-checkbox:checked {
  background-color: var(--primary-band-cl);
  border-color: var(--primary-band-cl);
}
.order-form-btn {
  color: var(--main-bg-cl);
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  border: transparent;
  width: 156px;
  background: var(--primary-band-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function);
}
.order-form-btn:hover,
.order-form-btn:focus {
  background-color: var(--pressed-state-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
